# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AAU\Fuzzy-Sorting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
